{% extends "base.html.twig" %}

{% block title %}
	Notebook | Connexion
{% endblock %}

{% block body %}
	<h1 class="display-4 text-center my-5">Connexion</h1>
	<form action="{{ path('login') }}" method="post">
		<div class="form-group col-6 mx-auto">
			<input type="text" class="form-control text-center" name="_username" placeholder="Nom d'utilisateur" required>
		</div>
		<div class="form-group col-6 mx-auto">
			<input type="password" class="form-control text-center" name="_password" placeholder="Mot de passe" required>
		</div>
		<div class="d-flex justify-content-center my-5">
			<input type="submit" value="Connexion" class="btn btn-primary">
		</div>
	</form>
{% endblock %}
