{% extends "base.html.twig" %}

{% block title %}
	Notebook | Modification
{% endblock %}

{% block body %}
	<h1 class="d-flex justify-content-center">Modification de mes informations</h1>

    {{ form(form) }}

{% endblock %}