{% extends "base.html.twig" %}

{% block title %}Notebook | Accueil{% endblock %}

{% block body %}
    <h1 class="text-center">My Notebook</h1>
    <br>
    <h3 class="text-center">Bienvenue {{app.user.firstname}}</h1>
{% endblock %}